<!DOCTYPE html> 
<html> 
<body> 
<h1>Request for Assistance</h1> 

<form method="post" action="EmailSend.cshtml"> 
<label>Username:</label>
<input type="text" name="customerEmail" />
<label>Details about the problem:</label> 
<textarea name="customerRequest" cols="45" rows="4"></textarea> 
<p><input type="submit" value="Submit" /></p> 
</form> 

</body> 
</html>